body {
    margin: auto;
    width: 90%;
    padding: 0;
    list-style: none;
    background-color: #f0f0f0;
    justify-content: center;
    align-items: center;
    background-image: url();
    height: 200vb;
  }
 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }

  /*----------------팝업 애니메이션------------*/
  .top-popup {
    display: flex;
  }

  .top-popup img {
    width: 200px;
    /* 이미지 크기를 적절히 조절 */
    height: auto;
    animation: slide 60s linear infinite;
    /* 애니메이션 설정 */
  }

  @keyframes slide {
    from {
      transform: translateX(-200%);
      /* 시작 위치: 화면 오른쪽 바깥 */
    }

    to {
      transform: translateX(100%);
      /* 끝 위치: 화면 왼쪽 바깥 */
    }
  }

  /*-----------------헤더---------------------*/
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /*-----------------헤더 왼쪽(로고, 타이틀---------------------*/
  .header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 40px;
  }

  .header-left a {
    text-decoration: none;
    color: black;
  }

  #logo {
    width: 50px;
    height: 50px;
    animation: rotation 10s infinite linear;
    /* 5초 동안 반복적으로 회전 */
  }

  /*@keyframes rotation {
    from {
      transform: rotate(0deg);
      /* 시작 각도 */
    /*}

    to {
      transform: rotate(360deg);
      /* 끝 각도 */
  /*  }
  }

  /*-----------------헤더 오른쪽(로그인, 회원가입---------------------*/
  .header-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-right a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: bold;
    margin-right: 40px;
  }

  /*---------------------fixed-login------------------*/

  /*----------------------main------------------*/
  .main {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }

  /*----------------------section------------------*/
  .weather-section {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    /* 배경 이미지를 섹션 전체에 맞게 조정 */
    background-position: center;
    /* 배경 이미지를 중앙에 위치 */
    color: white;
    font-size: 24px;
    font-weight: bold;
  }


  /*----------------------footer------------------*/
  .fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: beige;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    /* 기본적으로 숨김 상태 */
    transition: transform 0.3s ease-in-out;
  }

  .fixed-footer.show {
    transform: translateY(0);
    /* 보이는 상태 */
  }

  .fixed-footer fieldset {
    width: 1200px;
    border: none;
  }

  .fixed-footer input[type="email"] {
    width: 98%;
    height: 30px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 16px;
  }

  .fixed-footer button {
    width: 99.5%;
    height: px;
    padding: 17px 20px;
    background-color: rgba(255, 58, 51, 0.9);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
  }

  .fixed-footer button:hover {
    background-color: white;
    color: rgba(255, 58, 51, 0.9);
    border: 1px solid rgba(255, 58, 51, 0.9);
    font-weight: bold;
    font-size: 20px;
  }

  .fixed-footer p {
    color: black;
    text-align: center;
    font-weight: bold;
  }